.certifications-h1{
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5rem;
}
.certifications{
    width: 100%;
    height: 94vh;
    overflow-y: scroll;
}

.certifications-h1{
    font-size: 3rem;
    text-align: center;
}

.certificados-certificado{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: center;
    gap: 1.5rem;
    margin: auto;
    
}
.certificado{
    width: 45%;
}

.certificado img{
    width: 100%;
    height: 550px;
    border: 1px solid white;
    padding: 1rem;

}
.certificado-h2{
    padding-bottom: 0.2rem;
    text-align: center;
}